/* Define color variables for light mode */
:root {
	--background-colour: #BBCFCF;
	--primary-colour: #2F575D;
	--primary-text-colour: #99AEAD;
	--secondary-colour: #6D9197;
	--secondary-text-colour: #203D53;
	--accent-colour: #546E7A;
	--text-colour: #000;
	--error-colour: #FF0000;
}

/* Define color variables for dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--background-colour: #28363D;
		--primary-colour: #2F575D;
		--primary-text-colour: #99AEAD;
		--secondary-colour: #6D9197;
		--secondary-text-colour: #203D53;
		--accent-colour: #607D93;
		--text-colour: #BBC;
		--error-colour: #FF0000;
	}
}

/* Reset default margin and padding */
* {
	margin: 0;
	padding: 0.2em;
}

html,
body {
	height: 100%;
	padding: 0em;
}

.wrapper {
	box-sizing: border-box;
	position: relative;
	/* Height of footer */
	min-height: 100%;
	padding: 0em;
	padding-bottom: 3em;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
	background-color: var(--background-colour);
	color: var(--text-colour);
}

/* Header styles */
header {
	background-color: var(--primary-colour);
	color: var(--primary-text-colour);
	text-align: center;
}

/* Navigation styles (if you have a navigation bar) */
nav {
	background-color: var(--secondary-colour);
	padding: 10px;
}

/* Main content styles */
.container {
	max-width: 1600px;
	margin: 0 auto;
}

/* Call-to-action button */
.cta-button {
	display: inline-block;
	background-color: var(--accent-colour);
	color: var(--text-colour);
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.cta-button:hover {
	background-color: var(--secondary-colour);
}

/* Footer styles */
footer {
	background-color: var(--primary-colour);
	color: var(--primary-text-colour);
	text-align: center;
	padding: 0em;
	padding-bottom: 0.5em;
	width: 100%;
	position: absolute;
	bottom: 0;
}

footer hr {
	color: var(--accent-colour);
	margin-bottom: .5em;
}