<!DOCTYPE html>
<html lang="en">

<head>
	<script src="auth.js"></script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tools of Worship</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<div class="wrapper">
		{{>header}}
		{{>nav}}

		<main>
			<div class="container">	
			{{{content}}}
			</div>
		</main>

		<footer>
			<hr>
			&copy; 2023 Matthew Hale. All rights reserved.
		</footer>
	</div>
</body>

</html>
